<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/icon.svg">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}

        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <h3>About</h3>
                    <p class="card-text">
                        <p>This website was created to share translated lyrics of Japanese songs I enjoy. I wanted to use
                            this as a chance to practice my Japanese and have all the lyrics in one place for easy
                            access and sharing. Hopefully someone also interested or learning Japanese can find it
                            useful!</p>

                        <p>Some of my favourite Japanese artists:</p>
                        <ul>
                            <li><a href="https://www.youtube.com/user/radwimpsstaff">RADWIMPS</a></li>
                            <li><a href="https://www.youtube.com/user/BUMPOFCHICKENch">BUMP OF CHICKEN</a></li>
                            <li><a href="https://www.youtube.com/channel/UC8xGDVql5edyFd1GD5m3gbw">Ken Kamikita (KK)</a>
                            </li>
                            <li><a href="https://www.youtube.com/user/amazarashiSMEJ">AMAZARASHI</a></li>
                        </ul>

                        <div class="space"></div>

                        <p>This website is still under construction. I’m hoping to eventually add more translations in
                            the future.</p>

                        <p>Contact me on <a href="https://github.com/freya-g">GitHub</a> or <a href="https://twitter.com/freya_gao">Twitter</a>
                            (「’ω’)」</p>

                        <div class="space"></div>

                        <p>Translations are by me unless stated otherwise. Please do not use without credit.</p>
                        <p>All lyrics belong to their respective artists. This site is not for profit.</p>
                    </p>
                </div>
            </div>
        </div>
    </div>


    {{>footer}}
</body>

</html>